@model WebApplication1.Models.AuthModel

@{

}

    <h2>@ViewData["Title"]</h2>
    <h2>@Model.State</h2>
    <h2>@Model.ClientId</h2>
    <h2>@Model.Scope</h2>
    <h2>@Model.ResponseType</h2>

    <p>
        <!--<button id="btnReturn" style="width: 100px" onclick='window.location = "@Url.Action("auth/back")"' value="Some" />-->
        <a href='https://social.yandex.net/broker/redirect?code="12345678",state=@Model.State,client_id=@Model.ClientId,scope=@Model.Scope"'>Back</a>
    </p>


